[Unit]
Description=Mattermost
After=network.target
{% if mattermost_cfg[mattermost_mode]['db']['host'] | default('localhost') in ['localhost', '127.0.0.1'] -%}
{% if mattermost_cfg[mattermost_mode]['db']['dialect'] == 'mysql' -%}
After=mysql.service
BindsTo=mysql.service
{% elif mattermost_cfg[mattermost_mode]['db']['dialect'] == 'postgres' -%}
After=postgresql.service
BindsTo=postgresql.service
{% endif %}
{% endif %}

[Service]
Type=notify
ExecStart={{ mattermost_home }}/bin/mattermost
TimeoutStartSec=3600
KillMode=mixed
Restart=always
RestartSec=10
WorkingDirectory={{ mattermost_home }}
User={{ mattermost_user }}
Group={{ mattermost_user }}
LimitNOFILE=49152

[Install]
WantedBy=multi-user.target
